<!DOCTYPE html>
<html  lang="en"
   xmlns:th = "http://www.thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<title>Student Details</title>
</head>
<body>

<table>
  <thead>
    <tr>
       <th> S_No </th>
       <th>name</th>
       <th>email</th>
       <th>gender</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each = "var, abcStat : ${studentAttribute}">
       <td th:text =  "${abcStat.count}"></td>
       <td th:text = "${var.name}"></td>
        <td th:text = "${var.email}"></td>
        <td th:text = "${var.gender}"></td>
       
    </tr>
  
  </tbody>
  
</table>

</body>
</html>